*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: plum;
    height: 35%;
    width: 540px;
    position:absolute;
    margin: auto;
    top: 50px;
    left: 0;
    right: 0;
    padding: 30px 0;
    border-radius: 8px;   
}
header{
    text-align: center;
    font-family: 'Rubik';
    font-size: 15px;
    color: white;

}


ul {
    margin: 0;
    padding: 0;
  }
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: powderblue;
    font-size: 15px;
    font-family: 'Rubik';
    transition: 0.2s;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  
 
  }
  

#newtask{
    position: relative;
    padding: 30px 15px;
    background:rgb(49, 204, 209);
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#newtask input{
    border-radius: 5px;
    width: 70%;
    height: 40px;
    font-size: 15px;
    border: 2px solid plum;
    color: #111111;
    font-weight: 500;
    position: relative;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    font-family: 'Rubik';
}

#newtask input:focus{
    outline: none;
    border-color:plum;
}

#newtask button{
    position: relative;
    float: right;
    width: 60px;
    height: 45px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    background: plum;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Rubik';
}
#newtask button:hover{
    color:powderblue;
}

#tasks{
    width: 100%;
    position: relative;
    margin-top: 40px;
    background: 30px 200px;
    border-radius: 5px;
}
.task{
    background: #fff;
    height: 50px;
    padding: 5px 10px;
    border-radius: 0px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 2px solid #d1d3d4;
}

.addBtn {
    border: none;
    height: 100%;
    padding: 10.5px;
    background: plum;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px; 

}
  
  .addBtn:hover {
    background-color:powderblue;
  }

.completed{
    text-decoration: line-through;
    opacity: 0.7;

}


ul li:hover {
    background:plum;
  }

  ul li.checked {
    background:rgb(49, 204, 209);
    color: white;
    text-decoration: line-through;
    transition: 0.1s;

  }
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }


  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: plum;
    color: white;
  }
  
